name: Sanitizers

on:
  push:
    branches: [ '**' ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  clang-asan-leak-undefined:
    runs-on: ubuntu-24.04
    
    env:
      GCC_VER: 14
      CLANG_VER: 21

    steps:
      - name: Checkout repository from github
        uses: actions/checkout@v6

      - name: Install gcc-${{ env.GCC_VER }}
        uses: ./.github/actions/install-gcc

      - name: Install clang-${{ env.CLANG_VER }}
        uses: ./.github/actions/install-clang
        with:
          version: ${{ env.CLANG_VER }}
          clang-tidy: true
          dev: true

      - name: Install APT packages
        uses: ./.github/actions/install-apt-packages

      - name: Install IWYU
        uses: ./.github/actions/install-iwyu

      - name: Setup Conan
        id: setup-conan
        uses: ./.github/actions/setup-conan
        with:
          profile: clang-libstdcxx-amd64-linux-asan-leak-undefined

      - name: Configure CMake
        run: |
          cmake -DNIKU_ENABLE_CLANG_TIDY=ON -DNIKU_ENABLE_IWYU=ON --preset relwithdebinfo

      - name: Build
        run: |
          cmake --build --preset relwithdebinfo

      - name: Test
        run: |
          ctest --preset relwithdebinfo

  gcc-tsan:
    runs-on: ubuntu-24.04
    
    env:
      GCC_VER: 14
        
    steps:
      - name: Checkout repository from github
        uses: actions/checkout@v6

      - name: Install gcc-${{ env.GCC_VER }}
        uses: ./.github/actions/install-gcc
        with:
          version: ${{ env.GCC_VER }}

      - name: Install APT packages
        uses: ./.github/actions/install-apt-packages

      - name: Install Cppcheck
        uses: ./.github/actions/install-cppcheck

      - name: Setup Conan
        id: setup-conan
        uses: ./.github/actions/setup-conan
        with:
          profile: gcc-amd64-linux-tsan

      - name: Configure CMake
        run: |
          cmake -DNIKU_ENABLE_COMPILER_STATIC_ANALYSIS=ON -DNIKU_ENABLE_CPPCHECK=ON --preset relwithdebinfo

      - name: Build
        run: |
          cmake --build --preset relwithdebinfo

      - name: Test
        run: |
          ctest --preset relwithdebinfo

  msvc-asan:
    runs-on: windows-2025

    steps:
      - name: Initialize
        run: |
          git config --global core.autocrlf input
          
      - name: Checkout repository from github
        uses: actions/checkout@v6

      - name: Setup Conan
        id: setup-conan
        uses: ./.github/actions/setup-conan
        with:
          profile: msvc-amd64-windows-asan

      - name: Configure CMake
        run: |
          cmake -DNIKU_ENABLE_COMPILER_STATIC_ANALYSIS=ON --preset default
          
      - name: Build
        run: |
          cmake --build --preset multi-relwithdebinfo

      - name: Test
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=amd64 -host_arch=amd64
          ctest --preset multi-relwithdebinfo
